.logo_ibizza{
    line-height: .8;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 40px;
    width:auto;
}
.btn-ibizza{
    color: #fff !important;
    background-color: #41505e !important;
    border-color: #41505e !important;
}
.btn-ibizza:hover{
    color: #fff !important;
    background-color: #777b7c !important;
    border-color: #777b7c !important;
}
.bg-ibizza{
    color: #fff !important;
    background-color: #CF4324 !important;
}
.text-light{
    color: #000000 !important;
}
.search-title{
    color: #000000 !important;
}

/* recuadros de login se adapten al 50% de la pantalla */
@media (min-width: 800px){
    .recuadro {
        width: 50% !important;
    }
}
